<ion-view view-title="Your Order" style="background: url(img/background.png)">
  <ion-content padding="true"><br>
    <center><h1 id="log" style="color:white">Cart</h1></center>
    <br><br>
    <div class="list card">
      <div ng-repeat="list_item in cart_items">
        <div class="item item-body">
          <div class="cost">
            <input type="image" src="img/android-close.png" name="image" width="18px" height="18px" ng-click="clicked(list_item.item_id)">
          </div>
          <center>
            <div class="item_name">
              <strong>{{list_item.item_name}}</strong>
            </div>
        </center>
          <div class="increment">
            <center>
            <input type="image" src="img/android-add.png" name="image" width="18px" height="18px" id="add" ng-click="increment(list_item)">
            <label id="counter">{{list_item.quantity}}</label>
            <input type="image" src="img/android-remove.png" name="image" width="18px" height="18px" id="close" ng-click="decrement(list_item)">
          </center>
        </div>
          <div class="item_name">
            <center>Rs.{{list_item.qcost}}</center>
          </div>
        </div><hr>
      </div>
    </div>
    <center><p>Total : Rs {{total}}</p></center><br><br>
    <center><button class="button button-positive" ng-click="proceed_payment()">
        Proceed to Pay
    </button></center>
  </ion-content>
</ion-view>
