<ion-view view-title="List" style="background: url(img/background.png)">
  <ion-content padding="true"><br>
    <div ng-repeat="list_item in list_items">
      <div ng-if="list_item.cat_id == my_cat">
          <img class="full-image" src={{list_item.filename}}>
          <center><p>
            {{list_item.item_name}}
          </p></center>
          <div class="cost"><p>
            RS.{{list_item.cost}}
          </p>
          </div>
          <div class="rating"><p>
            {{list_item.rating}}
          </p>
          </div><br>
            <div class="add_cart">
            <ion-checkbox style="color:white" class="checkbox-positive" ng-model="checkcart" ng-click="clicked(list_item.id)">Add to cart</ion-checkbox>
            </div>
        </div>
      </div><br><br><br>
      <center><button class="button button-positive" ng-click="place_order()">
        Place Order
    </button></center>
  </ion-content>
</ion-view>
