/* Empty. Add your own CSS if you like */

.app-icon {
    background-color: #fff;
    background: url('../img/logo.png') center;
    background-size: cover;
    border-radius: 50%;
    height: 125px;
    margin: 0 auto;
    margin-top: 10px;
    width: 125px;
}

.glyphicon{
  color: white;
}

.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



h1
{
  color : white;
}

.rating{
  float: left;
}

#sub{
  width:200px;
  background-color: red;
}

.add_cart,.cost{
  float: right;
}

#add{
  padding-right: 5px;
}

#close{
  padding-left: 5px;
}

#counter{
  font-size: 22px;
  padding: 10px;
}

p{
  color : red;
}

p{
  color:white;
}

ion-header-bar.bar-stable.bar.bar-header
{
  background-color : transparent;
}

.bar.bar-stable .title{
  color: white;
}

#menuvalue{
  color:blue;
}

#but{
  color: white;
}

.item_name{
  font-size: 20px;
}

.item{
  background-color: transparent;
  border-width: 0px;
}

input[type=password] {
    border: none;
    border-bottom: 1px solid red;
    padding: 12px 20px;
    marging:8px 0;
    box-sizing: border-box;
    background: transparent;
    width: 300px;
    align : middle;
    color: #ffffff;
    font-size: 15px;
    padding-left: 50px;
}
input[type=text] {
    border: none;
    border-bottom: 1px solid red;
    padding: 12px 20px;
    marging:8px 0;
    box-sizing: border-box;
    background: transparent;
    width: 300px;
    align : middle;
    color: #ffffff;
    font-size: 15px;
    padding-left: 50px;
}
input[type=email] {
    border: none;
    border-bottom: 1px solid red;
    padding: 12px 20px;
    marging:8px 0;
    box-sizing: border-box;
    background: transparent;
    width: 300px;
    align : middle;
    color: #ffffff;
    font-size: 15px;
}
input[type=number] {
    border: none;
    border-bottom: 1px solid red;
    padding: 12px 20px;
    marging:8px 0;
    box-sizing: border-box;
    background: transparent;
    width: 300px;
    align : middle;
    color: #ffffff;
    font-size: 15px;
}
.bar .bar-stable{
  background-color: transparent;
}
